@import url("reset.css");

body {
    font-family: 'Inter', sans-serif;
	background-color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%; /* 24/16 */
    color: #637381;
}
.wrapper {
	overflow: clip;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.page {
    padding-top: 120px;
    padding-bottom: 120px;
}
.checkout-form__top {
    margin-bottom: 50px;
}
.checkout-form__page-title {
    font-weight: 700;
    font-size: 44px;
    line-height: 125%; /* 55/44 */
    margin-bottom: 8px;
    color: #212B36;
}
.checkout-form__desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%; /* 24/16 */
    color: #637381;
}
.checkout-form__content {
}
.checkout-form__form {
    /* display: flex;
    flex-direction: column; */
    /* align-items: flex-end;  */
}
.checkout-form__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
}
.checkout-form__col {
    
}
.checkout-form__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 125%; /* 30/24 */
    color: #212B36;
    margin-bottom: 30px;
}
.bill-order {
    flex: 1 0 57%; 
}
.bill-order__col {
    flex: 1 0 47%; /* 336/700 */
}
.bill-order__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.bill-order__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}
.bill-order__row:not(:last-child) {
	margin-bottom: 30px;
}
.bill-order__line:not(:last-child) {
	margin-bottom: 30px;
}
textarea,
input {
    width: 100%;
	font-weight: 500;
    font-size: 16px;
    line-height: 150%; /* 24/16 */
    color: #637381;

    padding: 15px 25px;
    border-radius: 7px;
    border: 1px solid #E7E7E7;
}
textarea:focus,
input:focus {
    border: 1px solid #3056D3;
}
textarea {
    width: 100%;
    box-sizing: border-box;
    display: block;
    height: 180px;
    resize: vertical;
} 
.checkbox {
    position: relative;
}
/* ховаємо рідний checkbox */
.checkbox__input {
    position: relative;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
}
/* .checkbox__input:focus + .checkbox__label {
    outline: 1px solid #ee0bc1;
    border-radius: 5px;
} */
.checkbox__input:checked + .checkbox__label::before {
    content: "";
    background: url("../icon/checked.svg") 6px 7px no-repeat;
    flex: 0 0 22px;
    width: 22px;
    height: 22px;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
} 
.checkbox__label {
    cursor: pointer;
    display: inline-flex;
    align-items: flex-start;
    gap: 14px;
}
.checkbox__label::before {
    content: "";
    flex: 0 0 22px;
    width: 22px;
    height: 22px;
    /* background-color: #f4f4f4; */
    border: 1px solid #E7E7E7;
    border-radius: 4px;
}
.coupon__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 130%; /* 26/20 */
    color: #212B36;
    padding-top: 20px;
    margin-bottom: 25px;
}
.coupon__content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.order {
    flex: 0 1 40%;
    /* padding-left: 50px; */
}
.btn {
    background: #3056D3;
    border-radius: 5px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%; /* 24/16 */
    color: #FFFFFF;
    padding: 15px 22px;
    border: 1px solid #3056D3;
    transition: all 0.8s;
}
.btn:hover {
    background: transparent;
    color: #3056D3;
}
.btn--black {
    background: #212B36;
    border: 1px solid #212B36;
}