@import url("reset.css");
@import url("components.css");

body {
    font-family: "Poppins", "Arial", sans-serif;
}

[class*="__container"]{
    margin: 0 auto;
    max-width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
}