@import url("reset.css");

body {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    color: #6C757D;

    background-color: #E5E5E5;
}
main {
    max-width: 1440px;
    margin: 0 auto;
}
section {
    max-width: 816px;
    margin: 80px auto;
}
.post-details {
    margin-bottom: 15px;
}
.post-details p,
.post-details span{
    display: inline-block;
    margin-right: 25px;
    font-size: 12px;
    line-height: 20px;
}

.post-details span {
    font-weight: 700;
}
.title {
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    color: #212529;

    margin-bottom: 40px;
}
.w400 {
    max-width: 400px;
}
.w605 {
    max-width: 605px;
}
.text p{
    display: inline-block;
    margin-bottom: 38px;
}
.text p:last-child {
    margin-bottom: 0;
}

.img-fullwidth {
    display: block;
    margin: 0 auto;
}
.img-wrap {
    display: block;
    margin: 0 auto;
    max-width: 1240px;
}
.img-wrap img {
    max-width: 605px;
}
.second-img {
    margin-left: 26px;
}